body {
  font-family: fira sans;
  font-weight: normal;
  background-color: #89bcac;
}
h1 {
  color: black;
  font-weight: bold;
  font-size: 30px
}
h2 {
  color: black;
  font-weight: bold;
  font-size: 20px
}
h3 {
  color: black;
  font-weight: bold;
  font-size: 15px
}
p {
  font-weight: lighter;
}
i {
  font-style: italic;
}
b {
  font-weight: bold;
}
table {
  border-style: dotted;
  border-width: thick;
  background-color: #eaeaea;
}
fieldset {
  background-color: #eaeaea;
}
a:link {
  color: black;
  font-weight: bold;
}
a:visited {
  color: blue;
  font-weight: lighter;
}
