.green {
  color: green;
  font-family: verdana;
  font-weight: lighter
}
.pink {
  color: magenta;
  font-family: courier;
}
.blue {
  color: navy;
  font-family: georgia;
}
h1{
  font-size: 30px;
  font-family: georgia;
}
h2{
  text-transform: uppercase;
  font-weight: lighter;
  font-family: georgia;
}
h3 {
  color: gray;
  text-transform: uppercase;
  font-family: verdana;
  /*display:none;*/
}
